/* ExampleLayout.css */
.exampleLayoutContainer {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .layout {
    width: 100%;
    height: 100%;
  }
  
  .layoutItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .mapContainer {
    width: 100%;
    height: 100%;
  }
  
  .placeholder {
    background-color: #e0e0e0;
    border: 1px dashed #999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  