.galleryViewContainer {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between rows */
}

.galleryRow {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between columns */
}

.mapColumn, .percentColumn, .tableColumn {
  flex: 1;
}

@media (max-width: 1200px) {
  .galleryRow {
    flex-direction: column;
  }

  .galleryRow > div {
    margin-bottom: 20px;
  }
}
