/* Legend.css */
.info.legend {
  background: white;
  padding: 6px 8px;
  font: 14px Arial, sans-serif;
}

.legend-item {
  margin-bottom: 4px;
}

.legend-item i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  border-radius: 50%;
}

.legend-item span {
  font-size: 12px;
}
