.map-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-panel {
  flex: 1;
}

.middle-panel {
  flex: 3;
}

.chart-panel {
  flex: 1;
}

.bottom-panel {
  flex: 1;
}

.timeline-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
