.user-guide-view {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr 1fr; /* Updated to have three equal columns */
    height: 100vh;
}
  
.left-panel {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 10px;
    overflow-y: auto;
}
  
.middle-panel {
    grid-row: 1 / 2; 
    grid-column: 2 / 3; /* Added for the middle panel */
    padding: 10px;
    overflow-y: auto;
}
  
.right-panel {
    grid-row: 1 / 2;
    grid-column: 3 / 4; /* Updated to be the third column */
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}
  
.bottom-panel {
    grid-row: 2 / 3;
    grid-column: 1 / 4; /* Spanning across all three columns */
    padding: 10px;
}
